/* By Athlon Front-End Team */
/* Core variables */
/**
 * Variables
*/
/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
/* Components */
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: none;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  background: transparent;
  text-decoration: none;
}

button,
input {
  line-height: normal;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* CSS print */
/**
 * Print Stylesheet
*/
@media print {
  @page {
    margin: 1cm;
  }
  body {
    background: #fff;
    color: #000;
  }

  a {
    page-break-inside: avoid;
  }

  blockquote {
    page-break-inside: avoid;
  }

  table,
pre {
    page-break-inside: avoid;
  }

  ul, ol, dl {
    page-break-before: avoid;
  }
}
/* Fonts */
/**
 * Fonts
*/
@font-face {
  font-family: "DINP-R";
  src: url(../fonts/DINPro-Regular.2ac4eb.eot) format("eot"), url(../fonts/DINPro-Regular.7b307e.woff) format("woff"), url(../fonts/DINPro-Regular.f8ce19.ttf) format("truetype"), url(../fonts/DINPro-Regular.b5c55d.svg#DINPro-Regular) format("svg");
  font-style: normal;
}
/* Mixins, helpers and functions */
/**
 * Helper mixins
*/
/* functions */
/* Vendor */
/* Components */
/* Browser specific styles */
/**
 * Dirty hacks, yes internet explorer, we are looking at you
*/
/* Demo Page styles */
/* template Page styles */
body {
  height: 100%;
  min-width: 20rem;
  max-width: 100vw;
  font-size: rem(16);
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #000;
}

.app {
  max-width: 375px;
  margin: 0 auto;
  min-width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 63px;
          flex: 0 0 63px;
}
.header__top {
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0px 3px 2px #cfcfcf;
          box-shadow: 0 0px 3px 2px #cfcfcf;
  position: relative;
  z-index: 1;
}
.header .logo {
  width: 165px;
  margin-top: 10px;
}
.header .logo img {
  max-width: 100%;
}

.my-location {
  background-color: #eaeaea;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.my-location__btn {
  position: relative;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  letter-spacing: -0.3px;
}
.my-location__btn .material-icons {
  margin-right: 15px;
  font-size: 1.1875rem;
  position: absolute;
  left: -25px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  overflow: hidden;
  overflow-y: auto;
  background-color: #f6f6f6;
  position: relative;
}

h1, h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.intro {
  padding: 38px 0 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.intro__title {
  margin-bottom: 13px;
}
.intro__title span {
  display: block;
}
.intro__text {
  color: #4d4d4d;
  margin-bottom: 33px;
  letter-spacing: 0.8px;
}
.intro__btn {
  height: 50px;
  width: 218px;
  color: #fff;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 26px;
  background: linear-gradient(176deg, #FF79DA, #9356DC 94%);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.performance {
  background-color: #fff;
  padding: 47px 21px 67px;
}
.performance__title {
  margin-bottom: 28px;
}

.steps {
  padding-left: 11px;
}
.steps__item {
  background-color: #f6f6f6;
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 76px;
  position: relative;
  padding: 20px 32px;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 9px 4px #cfcfcf;
          box-shadow: 0 4px 9px 4px #cfcfcf;
}
.steps__item:last-child {
  margin-bottom: 0;
}
.steps__numb {
  position: absolute;
  left: -10px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 0.75rem;
}
.steps__ico {
  margin-right: 18px;
  color: #7e7e7e;
}

.restaurants {
  padding: 51px 20px;
}
.restaurants__title {
  margin-bottom: 22px;
}

.restau {
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 18px;
}
.restau__header {
  height: 175px;
  overflow: hidden;
  position: relative;
}
.restau__header img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -57%);
          transform: translate(-50%, -57%);
}
.restau__header .tag {
  position: absolute;
  top: 14px;
  right: 12px;
  background-color: #99E2D0;
  color: #278870;
  height: 28px;
  width: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}
.restau__bottom {
  padding: 16px 13px;
  position: relative;
}
.restau__title {
  font-weight: bold;
  font-size: 1.125rem;
  margin: 0 0 4px;
}
.restau__title::first-letter {
  text-transform: uppercase;
}
.restau__city {
  font-weight: 300;
  letter-spacing: 0.5px;
}
.restau__like {
  position: absolute;
  cursor: pointer;
  z-index: 3;
  top: 0;
  right: 0;
  width: 55px;
  height: 100%;
  padding: 19px 5px;
}
.restau__ico {
  font-size: 1.6875rem;
}
.restau__ico--liked {
  background: linear-gradient(176deg, #FF79DA, #9356DC 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 197px;
          flex: 0 0 197px;
  height: 197px;
  background-color: #353535;
  color: #fff;
}
