/* By Athlon Front-End Team */
/* Core variables */
/**
 * Variables
*/
/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
/* Components */
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: none;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  background: transparent;
  text-decoration: none;
}

button,
input {
  line-height: normal;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* CSS print */
/**
 * Print Stylesheet
*/
@media print {
  @page {
    margin: 1cm;
  }
  body {
    background: #fff;
    color: #000;
  }

  a {
    page-break-inside: avoid;
  }

  blockquote {
    page-break-inside: avoid;
  }

  table,
pre {
    page-break-inside: avoid;
  }

  ul, ol, dl {
    page-break-before: avoid;
  }
}
/* Fonts */
/**
 * Fonts
*/
@font-face {
  font-family: "DINP-R";
  src: url(../fonts/DINPro-Regular.2ac4eb.eot) format("eot"), url(../fonts/DINPro-Regular.7b307e.woff) format("woff"), url(../fonts/DINPro-Regular.f8ce19.ttf) format("truetype"), url(../fonts/DINPro-Regular.b5c55d.svg#DINPro-Regular) format("svg");
  font-style: normal;
}
/* Mixins, helpers and functions */
/**
 * Helper mixins
*/
/* functions */
/* Vendor */
/* Components */
/* Browser specific styles */
/**
 * Dirty hacks, yes internet explorer, we are looking at you
*/
/* template Page styles */
body {
  height: 100%;
  min-width: 20rem;
  max-width: 100vw;
  font-size: rem(16);
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #000;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: 3s linear 0s loaderOut forwards;
          animation: 3s linear 0s loaderOut forwards;
}
.loader h1 {
  padding: 0 5px;
  font-size: 1.875rem;
  font-weight: bold;
  text-align: center;
  font-family: "Shrikhand", cursive;
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #FF79DA), color-stop(30%, #9356DC), color-stop(70%, #9356DC), color-stop(80%, #FF79DA));
  background: linear-gradient(to right, #FF79DA 10%, #9356DC 30%, #9356DC 70%, #FF79DA 80%);
  -webkit-background-clip: text;
          background-clip: text;
  text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 1s linear infinite reverse;
}
@media (min-width: 1024px) {
  .loader h1 {
    font-size: 2.8125rem;
  }
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-width: 375px;
  margin: 0 auto;
  min-width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  scroll-behavior: smooth;
}
.app--index {
  -webkit-animation: 3s linear pageIn;
          animation: 3s linear pageIn;
}
@media (min-width: 620px) {
  .app {
    width: 100%;
    max-width: 1064px;
  }
}

h1, h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
@media (min-width: 620px) {
  h1, h2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 63px;
          flex: 0 0 63px;
  position: relative;
  background-color: #fff;
}
.header .link-return {
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  height: 100%;
  width: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  color: #000;
  font-size: 1.5625rem;
}
.header__top {
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0px 3px 2px #cfcfcf;
          box-shadow: 0 0px 3px 2px #cfcfcf;
  position: relative;
  z-index: 1;
}
.header .logo {
  width: 165px;
  margin-top: 10px;
}
.header .logo img {
  max-width: 100%;
}

.my-location {
  background-color: #eaeaea;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.my-location .toggleMap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.my-location__btn {
  position: relative;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  letter-spacing: -0.3px;
}
.my-location__btn .mdi {
  margin-right: 15px;
  font-size: 1.1875rem;
  position: absolute;
  left: -25px;
}

.toggleMap {
  position: relative;
  display: block;
  cursor: pointer;
}
.toggleMap input[type=checkbox] {
  display: none;
}
.toggleMap input[type=checkbox]:checked ~ .map {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media (min-width: 620px) {
  .toggleMap input[type=checkbox]:checked ~ .map {
    opacity: 1;
  }
}
.toggleMap .map {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100%;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 620px) {
  .toggleMap .map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 0;
    opacity: 0;
  }
}
.toggleMap .map .gmap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  background: url(../images/design/google-map.0967cd.png) center center no-repeat #fff;
}
@media (min-width: 620px) {
  .toggleMap .map .gmap {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 520px;
            flex: 0 1 520px;
    height: 60%;
    max-height: 620px;
    border-radius: 10px;
  }
}
@media (min-width: 1024px) {
  .toggleMap .map .gmap {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
    height: 70%;
  }
}
.toggleMap .map .gmap__header {
  height: 70px;
  background-color: #fff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.toggleMap .map .gmap__header .form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  height: 100%;
  overflow: hidden;
}
.toggleMap .map .gmap__header .input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
  border: none;
  height: 100%;
  padding: 10px;
  font-size: 1.125rem;
}
.toggleMap .map .gmap__header .postpend {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
}

.btn-primary {
  height: 50px;
  width: 188px;
  color: #fff;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 26px;
  background: linear-gradient(176deg, #FF79DA, #9356DC 94%);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-primary:hover {
  background: linear-gradient(176deg, #ff93e1, #a16be0 94%);
  -webkit-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.4);
}

.like {
  position: relative;
  cursor: pointer;
  width: 27px;
  height: 27px;
  display: block;
}
.like input[type=checkbox] {
  display: none;
}
.like input[type=checkbox]:checked ~ .like__ico {
  opacity: 0;
}
.like input[type=checkbox]:checked ~ .like__ico--liked {
  opacity: 1;
}
.like__ico {
  font-size: 1.6875rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.like__ico--liked {
  background: linear-gradient(176deg, #FF79DA, #9356DC 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  overflow: hidden;
  overflow-y: auto;
  background-color: #f6f6f6;
  position: relative;
  scroll-behavior: smooth;
}
.main__header--menu {
  height: 275px;
  overflow: hidden;
}
.main__header--menu .main__header__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.main__header--menu .main__header__img img {
  max-width: 120%;
}
@media (min-width: 375px) {
  .main__header--menu .main__header__img img {
    max-width: 100%;
  }
}

.intro {
  padding: 38px 0 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.intro__title {
  margin-bottom: 13px;
}
.intro__title span {
  display: block;
}
.intro__text {
  color: #4d4d4d;
  margin-bottom: 33px;
  letter-spacing: 0.8px;
}
.intro__btn {
  width: 218px;
}

.performance {
  background-color: #fff;
  padding: 47px 21px 67px;
}
@media (min-width: 1024px) {
  .performance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.performance__title {
  margin-bottom: 28px;
}
@media (min-width: 1024px) {
  .performance__title {
    text-align: center;
  }
}

.steps {
  padding-left: 11px;
}
@media (min-width: 1024px) {
  .steps {
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
}
.steps__item {
  background-color: #f6f6f6;
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 76px;
  position: relative;
  padding: 20px 32px;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 9px 4px #cfcfcf;
          box-shadow: 0 4px 9px 4px #cfcfcf;
}
@media (min-width: 1024px) {
  .steps__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.steps__item:last-child {
  margin-bottom: 0;
}
.steps__numb {
  position: absolute;
  left: -10px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 0.75rem;
}
.steps__ico {
  margin-right: 18px;
  color: #7e7e7e;
  font-size: 1.5rem;
}
.steps :hover .steps__ico {
  color: #9356DC;
}

.restaurants {
  padding: 51px 20px 47px;
}
@media (min-width: 620px) {
  .restaurants {
    padding-bottom: 27px;
  }
}
@media (min-width: 620px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.restaurants__title {
  margin-bottom: 22px;
}
@media (min-width: 1024px) {
  .restaurants__title {
    text-align: center;
    margin-bottom: 32px;
  }
}

.restau {
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 17px;
  color: #000;
  -webkit-box-shadow: 0 3px 8px 1px #ddd;
          box-shadow: 0 3px 8px 1px #ddd;
}
@media (min-width: 620px) {
  .restau {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    margin-bottom: 40px;
  }
}
.restau__linnk {
  display: block;
}
.restau__header {
  height: 175px;
  overflow: hidden;
  position: relative;
}
.restau__header img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -57%);
          transform: translate(-50%, -57%);
  max-width: 101%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.restau__header .tag {
  position: absolute;
  top: 14px;
  right: 12px;
  background-color: #99E2D0;
  color: #278870;
  height: 28px;
  width: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}
.restau__bottom {
  padding: 16px 13px;
  position: relative;
}
.restau__title {
  font-weight: bold;
  font-size: 1.125rem;
  margin: 0 0 4px;
  color: #000;
}
.restau__title::first-letter {
  text-transform: uppercase;
}
.restau__city {
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #000;
}
.restau .like {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 55px;
  height: 100%;
  padding: 19px 5px;
  top: auto;
  bottom: 0;
  height: 76px;
}
.restau .like__ico--liked {
  top: 19px;
  left: 5px;
}
.restau:hover .restau__header img {
  -webkit-transform: translate(-50%, -57%) scale(1.1);
          transform: translate(-50%, -57%) scale(1.1);
}

.menu {
  position: relative;
  border-radius: 40px 40px 0 0px;
  margin-top: -55px;
  padding: 36px 0;
  background-color: #f6f6f6;
}
.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px 33px;
}
@media (min-width: 1024px) {
  .menu__header {
    max-width: 500px;
    margin: 0 auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.menu__header .like {
  margin: -9px 15px 0 0;
}
@media (min-width: 1024px) {
  .menu__header .like {
    margin: 0;
  }
}
.menu__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.6875rem;
}
@media (min-width: 1024px) {
  .menu__title {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-right: 20px;
  }
}
.menu__title::first-letter {
  text-transform: uppercase;
}
.menu__step {
  margin: 0 0 40px;
}
@media (min-width: 1024px) {
  .menu__step {
    max-width: 500px;
    margin: 0 auto 40px;
  }
}
.menu__step__title {
  position: relative;
  text-transform: uppercase;
  margin: 0 20px 22px;
}
.menu__step__title::after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #99E2D0;
  position: absolute;
  bottom: -8px;
  left: 0;
}
.menu .order {
  margin: 52px 0 47px;
}

.choices {
  padding: 0 13px;
}
.choices__item {
  display: block;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 13px;
  border-radius: 16px;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 9px 4px #cfcfcf;
          box-shadow: 0 4px 9px 4px #cfcfcf;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  opacity: 0;
}
.choices__item.delay-0 {
  -webkit-animation: 0.5s linear 0s choicesIn forwards;
          animation: 0.5s linear 0s choicesIn forwards;
}
.choices__item.delay-1 {
  -webkit-animation: 0.5s linear 0.25s choicesIn forwards;
          animation: 0.5s linear 0.25s choicesIn forwards;
}
.choices__item.delay-2 {
  -webkit-animation: 0.5s linear 0.5s choicesIn forwards;
          animation: 0.5s linear 0.5s choicesIn forwards;
}
.choices__item.delay-3 {
  -webkit-animation: 0.5s linear 0.75s choicesIn forwards;
          animation: 0.5s linear 0.75s choicesIn forwards;
}
.choices__item.delay-4 {
  -webkit-animation: 0.5s linear 1s choicesIn forwards;
          animation: 0.5s linear 1s choicesIn forwards;
}
.choices__item.delay-5 {
  -webkit-animation: 0.5s linear 1.25s choicesIn forwards;
          animation: 0.5s linear 1.25s choicesIn forwards;
}
.choices__item.delay-6 {
  -webkit-animation: 0.5s linear 1.5s choicesIn forwards;
          animation: 0.5s linear 1.5s choicesIn forwards;
}
.choices__item.delay-7 {
  -webkit-animation: 0.5s linear 1.75s choicesIn forwards;
          animation: 0.5s linear 1.75s choicesIn forwards;
}
.choices__item.delay-8 {
  -webkit-animation: 0.5s linear 2s choicesIn forwards;
          animation: 0.5s linear 2s choicesIn forwards;
}
.choices__item.delay-9 {
  -webkit-animation: 0.5s linear 2.25s choicesIn forwards;
          animation: 0.5s linear 2.25s choicesIn forwards;
}
.choices__item.delay-10 {
  -webkit-animation: 0.5s linear 2.5s choicesIn forwards;
          animation: 0.5s linear 2.5s choicesIn forwards;
}
.choices__item input {
  display: none;
}
.choices__item input:checked ~ .choices__content {
  width: 100%;
}
.choices__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% + 58px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.choices__check {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58px;
          flex: 0 0 58px;
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.choices__check .mdi {
  font-size: 0.625rem;
  color: #99E2D0;
  background-color: #fff;
  border-radius: 100%;
  padding: 4px 5px;
}
.choices__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 1rem;
  padding: 13px 11px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 375px) {
  .choices__title {
    font-size: 1.125rem;
  }
}
.choices__title span {
  font-size: 0.875rem;
  font-weight: lighter;
  display: block;
  margin-top: 3px;
  letter-spacing: -0.6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 375px) {
  .choices__title span {
    font-size: 1rem;
  }
}
.choices__price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 13px 0;
  font-size: 0.875rem;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 197px;
          flex: 0 0 197px;
  height: 197px;
  background-color: #353535;
  color: #fff;
  padding: 27px 24px;
}
.footer .logo {
  width: 100px;
}
.footer .logo img {
  max-width: 100%;
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
}
.footer li {
  margin-bottom: 8px;
}
.footer li:first-child {
  margin-bottom: 22px;
}
.footer li:last-child {
  margin-bottom: 0;
}
.footer a {
  color: #fff;
  font-size: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer a:hover {
  color: #99E2D0;
}
.footer .mdi {
  font-size: 0.875rem;
  margin-right: 9px;
}

@-webkit-keyframes choicesIn {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes choicesIn {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes pageIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pageIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes loaderOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
@keyframes loaderOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
@-webkit-keyframes textShine {
  to {
    background-position: 200%;
  }
}
@keyframes textShine {
  to {
    background-position: 200%;
  }
}
